<!-- your_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mandi Bill Detail</title>
</head>
<body>
    {% if message %}
    <p>{{ message }}</p>
    {% else %}
    <form method="post">
        {% csrf_token %}
        {{ mandi_bill_form.as_p }}

        {{ imported_goods_formset.management_form }}
        {% for form in imported_goods_formset %}
        {{ form.as_table }}
        {% endfor %}

        <input type="submit" value="Save Changes">
    </form>
    {% endif %}
</body>
</html>
