{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Goods</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/nofileextnc.css' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Goods, Qualities and Price</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><b>Goods Name</b></th>
                                    <th><b>1st Quality Price</b></th>
                                    <th><b>2nd Quality Price</b></th>
                                    <th><b>Ripped Quality Price</b></th>
                                    <!-- <th>Status</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for good in goodslist %}
                                <tr id="row_{{ good.id }}">
                                    <td id="cell_{{ good.id }}_GoodsName" contenteditable="true" onblur="updateCell('{{ good.id }}', 'GoodsName', this.innerText, 'Goods')">{{good.GoodsName}}</td>
                                    <td id="cell_{{ good.id }}_FirstQualityPrice" contenteditable="true" onblur="updateCell('{{ good.id }}', 'FirstQualityPrice', this.innerText, 'Goods')">{{good.FirstQualityPrice}}</td>
                                    <td id="cell_{{ good.id }}_SecondQualityPrice" contenteditable="true" onblur="updateCell('{{ good.id }}', 'SecondQualityPrice', this.innerText, 'Goods')">{{ good.SecondQualityPrice}}</td>
                                    <td id="cell_{{ good.id }}_RippedQualityPrice" contenteditable="true" onblur="updateCell('{{ good.id }}', 'RippedQualityPrice', this.innerText, 'Goods')">{{good.RippedQualityPrice}}</td>
                                </tr>
                                {% endfor %}

                                <tr>
                                    <form id="newGoodsForm" method="post" action="{% url 'goods_add_row' %}" onsubmit="return validateForm()">
                                        {% csrf_token %}
                                        <input type="hidden" name="row_id" value="NEW_ID">
                                    <td><input type="text" name="GoodsName" placeholder="Goods Name" required></td>
                                    <td><input type="number" name="FirstQualityPrice" placeholder="FirstQualityPrice" required></td>
                                    <td><input type="number" name="SecondQualityPrice" placeholder="SecondQualityPrice" required></td>
                                    <td><input type="number" name="RippedQualityPrice" placeholder="RippedQualityPrice" required></td>
                                    <td><button type="submit" class="btn btn-info">Save</button></td>
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/editTableCells.js' %}"></script>

</body>
</html>

