{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Suppliers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/nofileextnc.css' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Suppliers Details</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><b>Supplier Name</b></th>
                                    <th><b>Mobile Number</b></th>
                                    <th><b>Address</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for supplier in supplierslist %}
                                <tr id="row_{{ supplier.id }}">
                                    <td id="cell_{{ supplier.id }}_SupplierName" contenteditable="true" onkeydown="handleKeyDown(event, '{{ supplier.id }}', 'SupplierName', 'Suppliers')" onblur="updateCell('{{ supplier.id }}', 'SupplierName', this.innerText, 'Suppliers')">{{ supplier.SupplierName }}</td>
                                    <td id="cell_{{ supplier.id }}_MobileNumber" contenteditable="true" onkeydown="handleKeyDown(event, '{{ supplier.id }}', 'MobileNumber', 'Suppliers')" onblur="updateCell('{{ supplier.id }}', 'MobileNumber', this.innerText, 'Suppliers')">{{ supplier.MobileNumber }}</td>
                                    <td id="cell_{{ supplier.id }}_FromAddress" contenteditable="true" onkeydown="handleKeyDown(event, '{{ supplier.id }}', 'FromAddress', 'Suppliers')" onblur="updateCell('{{ supplier.id }}', 'FromAddress', this.innerText, 'Suppliers')">{{ supplier.FromAddress }}</td>
                                </tr>                                
                                {% endfor %}

                                <tr>
                                    <form id="newSupplierForm" method="post" action="{% url 'suppliers_add_row' %}" onsubmit="return validateForm()">
                                        {% csrf_token %}
                                        <input type="hidden" name="row_id" value="NEW_ID">
                                        <td><input type="text" name="SupplierName" placeholder="Supplier Name" required></td>
                                        <td><input type="text" name="MobileNumber" placeholder="Mobile Number" required></td>
                                        <td><input type="text" name="FromAddress" placeholder="Address" required></td>
                                        <td><button type="submit" class="btn btn-info">Save</button></td>
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function handleKeyDown(event, rowId, field, tableName) {
            console.log('inside handlekeydown');
            if (event.keyCode === 13) { // Check if Enter key is pressed
                event.preventDefault(); // Prevent new line in contenteditable
                updateCell(rowId, field, event.target.innerText, tableName);
                event.target.blur();
            }
        }
    </script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/editTableCells.js' %}"></script>

</body>
</html>

